@import "tailwindcss";
body {
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  scroll-behavior: smooth;
}

@theme {
    --color-brand: '#F97316'; /*orange light*/
    --color-brandHover: '#EA580C'; /*orange dark*/
    --color-bgLight: '#FFF7ED'; /*light background*/
    --color-textDark: '#0F172A'; /*dark text*/
    --color-textMuted: '#334155'; /*light text*/
}